.header__logo {
  height: 70px;
  margin: 0 auto;
  padding-bottom: 18px;
  overflow: hidden;
  object-fit: cover;
}

@media (max-width: 880px) {
  .header__logo {
    height: 40px;
  }
}

@media (max-width: 610px) {
  .header__logo {
    height: 60px;
  }
}
