.menu__item_brand_littleBits {
  background: linear-gradient(to left, rgb(95, 56, 147), rgba(95, 56, 147, 0.7) );
  box-shadow: 2px 0px 2px rgba(95, 56, 147, .5);
  position: relative;
  z-index: 1;
}
