.problem__img {
  width: calc(100vw / 3);
  overflow: hidden;
  object-fit: cover;
  grid-area: pic;
  border-radius: 9px;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, .5);
}

@media (max-width: 650px) {
  .problem__img {
    width: 70%;
  }
}
