.kit {
  margin: 100px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  'img title'
  'img list';
  align-items: center;
  grid-gap: 5px 80px;
}

@media (max-width: 650px) {
  .kit {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
}
